/* Reset Styles */

html, body{
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    padding 5px;
}

h1{
    text-align: center;
}

.alert-info{
    background-color: #c6ffff;
    /*border: 2px solid black;*/
    padding: 1em;
    text-align: center;
}

.alert-info > a{
    color: #000;
    text-decoration: none;
}

.nav-links{
    padding-left: 0;
}

.nav-links li{
    background-color: #d3d3d3;
    padding: 1em;
    text-align: center;
    margin-bottom: .5em;
    list-style: none;
    margin: 5px;
}

/*.header-img img{*/
    /*width: 100%;*/
/*}*/

.sub-section{
    font-style: italic;
}

/* Style definitions that target screens 768px and up */

@media screen and (min-width:768px) {

    body{
        padding: 10px;
        height: 100%;
    }

    .nav-links{
        float: right;
        text-align: right;
    }

    .nav-links li{
        display: inline-block;
        background-color: transparent;
        padding: .2em;
        line-height: 2em;
        float: left;
    }

    h1{
        float: left;
        text-align: left;
    }

    #main {
        float: left;
        /*width: 66%;*/
    }

    .alert-info{
        display: none;
    }

    .sub-section{
        float: right;
        /*width: 33%*/
    }

    footer>p{
        clear: both;
        position: relative;
    }

}
