.fancy-header {
    color: mediumaquamarine;
    text-decoration: underline;
}

h1, p {
    text-align: center;
    color: mediumaquamarine;
}

h1, h2{
    text-decoration: underline;
    color: black;
}

body{
    background: linear-gradient(white, lightgrey);
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    max-width: 50em;
}


ul {
    list-style: square;
}

#photos, #vision{
    text-align: center;
}

/* unvisited link (:link) */
a:link {
    color:blue;
}

/* visited link (:visited) */
a:visited {
    color:black;
}

/* mouse hover over link (:hover) */
a:hover {
    color:darkred;
}

/* active/selected link (:active) */
a:active {
    color:white;
}

#prices th, td{
    border: 3px solid black;
}

